.pricing__cards__container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1000px) {
    .pricing__cards__container {
        flex-direction: column;
        gap:25px
    } 
}