html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page__section {
  padding:60px 20px;
  margin:40px auto;
  max-width: 80%;
}

.no__mobile {
  display: block;
}

.bg-overlay {
  background: linear-gradient(to right, #512da8, #711e72);
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width:800px) {
  .page__section {
    max-width: 95%;
  }
  .no__mobile {
    display: none;
  }
}
* {
  box-sizing: border-box;
}
.rounded {
  border-radius: 5px;
}
textarea {
  resize: none;
}
